<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'side' : 'side'" [opened]="false">
    <!-- [mode]="(isHandset$ | async) ? 'side' : 'side'"
      [opened]="(isHandset$ | async) === false"> -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- "isHandset$ | async" -->
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span> -->
      <a routerLink="/" href="javascript:void(0)">Home</a>
      <!-- </span> -->
      <!-- <span> -->
      <a routerLink="/users" href="javascript:void(0)"> Users</a>

      <a routerLink="/contact" href="javascript:void(0)"> Contact</a>
      <a routerLink="/table" href="javascript:void(0)"> Table</a>
      <!-- </span> -->
      <!-- <span>angular-testing-guide</span> -->
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>

</mat-sidenav-container>
